/* Importaciones de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos específicos para PrimeReact */
.p-card {
    margin-bottom: 2rem;
}

.p-card .p-card-content {
    padding: 1.5rem;
}

.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
    top: -0.75rem;
    background-color: var(--surface-0);
    padding: 2px 4px;
    margin-left: -4px;
    margin-right: -4px;
}

.p-password {
    width: 100%;
}

.p-inputtext {
    width: 100%;
}
